
body {
    background-image: url("../images/d36d462db827833805497d9ea78a1343.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 60px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 88px;
  height: 100%;
  padding: 10px;
}

.logo img {
  height: 50px; /* adjust this value as needed */
  width: auto;
  margin-right: 10px;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 44px; /* adjust this value as needed */
  color: white;
}


.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}


.nav-links li a:hover {
    background-color: yellow;
    color: black;
    border-radius: 15px;
    padding: 15px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.login {
    width: 110px;
    padding: 10px;
    border-radius: 13px;
    font-weight: bold;
    color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.login a {
    text-decoration: none;
}

.login:hover, .login:focus {
    background-color: yellow;
    outline: none;
}

#register_div {
    margin: 0 auto;
    background-color: transparent;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#register_form input[type="text"],
#register_form input[type="email"],
#register_form input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#register_input:hover {
    background-color: yellow;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#login_div {
    margin: 0 auto;
    background-color: transparent;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login_form input[type="text"],
#login_form input[type="password"] {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login_submit {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login_submit:hover {
    background-color: yellow;
    font-weight: bold;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.search_container {
    margin: 0 auto;
    background-color: transparent;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    transform: translate(-50%, -50%);
}

#search_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search_form input[type="text"] {
    width: 55%;
    margin: 10px;
    padding: 13px;
    border-radius: 13px;
    border: 2px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

#search_form input[type="submit"] {
    padding: 9px;
    width: 88px;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: cadetblue;
    color: white
}

#search_form input[type="submit"]:hover {
    color: black;
    background-color: yellow;
    font-weight: bold;
}

.profile_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.result_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.result_div li {
    text-decoration: none;
}

.profile {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.profile li {
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    padding: 10px;
    margin: 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    letter-spacing: 2px;
    word-wrap: break-word;

}

.profile img {
    border-radius: 25%;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.profile img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.profile button {
    width: 105px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}

.profile button:hover {
    background-color: yellow;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#edit_profile {
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#edit_profile input {
    padding: 10px;
    width: 50%;
    border-radius: 15px;
}

#edit_profile label {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

#edit_profile input[type='file'] {
    color: transparent;
    width: 15%;
    padding: 15px;
    border-radius: 15px;
}

#edit_profile input[type='submit'] {
    width: 25%;
    padding: 8px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

#edit_profile input[type='submit']:hover {
    background-color: yellow;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

button {
    width: 25%;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: yellow;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.recipe_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe_form input[type='file'] {
    color: transparent;
    width: 30%;
}

.recipe_form label {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
}

.recipe_form input[type='text'] {
    opacity: 0.5;
    width: 66%;
    padding: 8px;
    margin: 10px;
    border-radius: 15px;

}

#recipe_description {
    opacity: 0.5;
    border-radius: 15px;
    resize: none;
    width: 100%;
}

.recipe_form input[type='submit'] {
    width: 51%;
    padding: 8px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.recipe_form input[type='submit']:hover {
    background-color: yellow;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

#recipe_type {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #333;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

