{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="search_container">
        <form id="search_form" method="get" action="{% url 'search recipes' %}">
            <input id="search_field" name="query" type="text" placeholder="Search" autocomplete="off" autofocus>
            <input id="search_button" type="submit" value="Search"/>
        </form>


            {% for object in object_list %}
                <li> {{ object }} </li>
            {% endfor %}


    </div>


{% endblock %}