{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="search_container">
        <form id="search_form" method="get" action="{% url 'search recipes' %}">
            <input id="search_field" name="query" type="text" placeholder="Search" autocomplete="off" autofocus>
            <input id="search_button" type="submit" value="Search"/>
        </form>
        {% block test %}
        <div class="result_div">

            {% for object in object_list %}
                <ul id="results">
                <li> {{ object.name }} </li>
                <li> {{ object.recipe_type }} </li>
                <li>More Details: <a href="{% url 'recipe details' pk=object.pk %}" style="text-decoration: none">Here</a></li>
            </ul>
            {% endfor %}
        </div>
        {% endblock %}


    </div>


{% endblock %}